body,
h1,
p,
h2,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* CONTAINERS*/

.principal {
  background-image: url("../img/bg-intro-desktop.png");
  background-size: cover;
  background-position: center;
  background-color: hsl(0, 100%, 74%);
  overflow: hidden;
}

.container {
  max-width: 70%;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 48% 52%;
  grid-column-gap: 64px;
  grid-template-rows: auto;
  align-content: center;
  justify-content: center;
}

/* TEXTO PRINCIPAL */

.texto {
  align-self: center;
  text-align: left;
}

.texto h1,
p {
  color: #fff;
}

.texto h1 {
  font-size: 3em;
  line-height: 1.3em;
  padding: 16px 0;
}

.texto p {
  line-height: 1.6em;
  font-size: 1.125em;
}

/* FORUMULÁRIO */

.teste {
  max-width: 100%;
  background-color: hsl(248, 32%, 49%);
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  margin: 16px auto 32px auto;
  text-align: center;
  font-size: 0.875em;
  -webkit-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.3);
}

.formulario form {
  background-color: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  -webkit-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.3);
}

.formulario input {
  margin: 16px 0;
  padding: 16px 32px;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 10px;
  color: hsl(249, 10%, 26%);
  font-size: 1em;
  font-weight: 600;
  max-width: 100%;
}

input:focus {
  outline-color: hsl(248, 32%, 49%);
}

.formulario input::placeholder {
  font-weight: 600;
}

.termos {
  padding: 16px 0 0 0;
  font-size: 0.675em;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: hsl(246, 25%, 77%);
}

.termos a {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

#button {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  border: none;
  font-weight: 600;
  padding: 16px;
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 8px auto 0 auto;
}

/* FOOTER */

.footer p {
  font-size: 0.775em;
  text-align: center;
  padding-bottom: 8px;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

/* RESPONSIVIDADE */

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .texto {
    text-align: left;
  }

  .texto h1 {
    font-size: 1.5em;
  }

  .texto p {
    font-size: 0.875em;
  }

  .footer p {
    font-size: 0.675em;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 64px 0;
    grid-template-columns: 300px;
    justify-content: center;
  }

  .texto {
    text-align: center;
  }

  .texto h1 {
    font-size: 1.5em;
  }

  .texto p {
    font-size: 0.875em;
  }

  .formulario form {
    align-content: center;
  }

  .formulario input {
    max-width: 250px;
    padding: 16px;
  }

  .formulario input::placeholder {
    font-size: 0.875em;
    text-align: center;
  }

  #button {
    font-size: 0.775em;
    padding: 16px;
    line-height: 1.5;
  }

  .teste {
    margin: 32px auto;
    padding: 16px 32px;
    font-size: 0.875em;
  }

  .footer p {
    font-size: 0.675em;
  }
}
